.widget {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.54);
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.left, .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
        font-weight: bold;
        font-size: 14px;
        color: gray;
    }

    .counter {
        font-size: 28px;
        padding: 1rem 0;
    }

    .link  {
        cursor: pointer;
        width: max-content;
        font-size: 12px;
        border-bottom: 1px solid gray;
        user-select: none;
    }

    .percentage {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: gray;
    
        &.positive {
            color: green;
        }
            
        &.negative {
            color: red;
        }
    }

    .icon {
        font-size: 1.75rem;
        padding: 5px;
        border-radius: 5px;
        align-self: flex-end;
    }
}